body {
    // background: url('src/assets/app-background.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    min-height: 100vh;
    // min-width: 100vw;
}

.form-error {
    color: #d32f2f;
    font-weight: 700;
}